<mat-toolbar color="primary" fxLayoutGap="8px" fxLayoutAlign="start stretch">
        <button mat-button routerLink="/pick">
            <mat-icon>calendar_today</mat-icon>
            <span>  BDE Polytech Grenoble</span>
        </button>
        <mat-divider [vertical]="true" style="height:100px"></mat-divider>
        <mat-divider [vertical]="true" style="height:100px"></mat-divider>
        <button mat-button (click)="select3aGroups()">
            Groupes de 3A
        </button>
</mat-toolbar>