<div class='container'>
  <div *ngIf="events.length>0; else loading">
    <full-calendar #calendar defaultView="timeGridWeek" [events]="events" [plugins]="calendarPlugins" [editable]=false
      [eventLimit]=false [nowIndicator]=true height='auto' minTime="07:00:00" maxTime="20:00:00" locale='fr'
      [allDaySlot]=false [weekends]=false [header]="{
                    left: 'prev,next today',
                    center: 'title',
                    right: ''
                  }" slotDuration="00:20:00" (eventClick)=openInfo($event)>
    </full-calendar>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          À jour depuis au moins
        </mat-panel-title>
        <mat-panel-description>
          {{calInfos[0]["updated"] | date:"dd/MM/yy HH:mm"}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let item of calInfos" [ngStyle]="{'display': 'inline-block', 'padding-right': '5%'}">
        <h4 mat-line [ngStyle]="{'margin-bottom': '5px'}">
          {{item.name}}
        </h4>
        <p mat-line [ngStyle]="{'margin-top': '0px'}">
          {{item.updated | date:"dd/MM/yy HH:mm"}}
        </p>
      </div>
    </mat-expansion-panel>
  </div>


  <ng-template #loading>
    <div *ngIf="!error; else err">
      <mat-spinner color="primary">
      </mat-spinner>
    </div>
  </ng-template>

  <!-- Error -->
  <ng-template #err>
    <mat-card [ngStyle]="{'width': 'fit-content', 'margin': '2%'}">
      <mat-card-header>
        <mat-card-title>Erreur</mat-card-title>
        <mat-card-subtitle>Aucun emploi du temps n'a pu être récupéré</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/pick']">Revenir à la sélection</button>
      </mat-card-actions>
    </mat-card>

  </ng-template>
</div>
