<mat-sidenav-container>
  <app-navbar></app-navbar>
  <mat-sidenav-container class="container">
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</mat-sidenav-container>
<app-footer></app-footer>
