<h1 mat-dialog-title>Sélectionnez votre groupe de 3A</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Groupes</mat-label>
    <mat-select [(ngModel)]="selectedGroup">
      <mat-option *ngFor="let group of groups" [value]="group.value">
        {{group.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="save()">OK</button>
</div>
