/* You can add global styles to this file, and also import other style files */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/timegrid/main.css';

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

*:focus {
  outline: 0 !important;
}


.fc-title {
  font-size: inherit !important;
  font-weight: bold !important;
  color: black;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
app-form{
  justify-content: center;
  align-items: center;
  display: flex;
}