<mat-card>
    <div *ngIf="resources; else loading">
        <mat-card-header>
            <mat-card-title>Sélectionnez vos groupes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="mat-app-background">
                <mat-form-field>
                    <mat-select placeholder="Filière" [(ngModel)]="selectedClass" name="class">
                        <mat-option>----</mat-option>
                        <mat-option *ngFor="let key of objectKeys(resources)" [value]="key">
                            {{key}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Année" [disabled]="!selectedClass" [(ngModel)]="selectedYear" name="year">
                        <mat-option>----</mat-option>
                        <mat-option *ngFor="let key of objectKeys(resources[selectedClass] || {})" [value]="key">
                            {{key}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Groupes" multiple [disabled]="!selectedYear || !selectedClass" [(ngModel)]="selectedGroups" name="groups">
                        <mat-option *ngFor="let key of objectKeys((resources[selectedClass] || {})[selectedYear] || {})" [value]="key">
                            {{key}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>                
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [disabled]="!selectedGroups" (click)="emit()">
                <mat-icon aria-label="submit">calendar_today</mat-icon>
                <span>Charger l'emploi du temps</span>
            </button>                
        </mat-card-actions>
    </div>    
    <ng-template #loading>
        <mat-spinner color="primary">
        </mat-spinner>
    </ng-template>
</mat-card>


